html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(255, 237, 237);
    border-style: solid;
    border-color: rgb(252, 138, 157);
    border-width: 5px;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(130, 99, 86);
}
h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(130, 99, 86);
    margin: 30px;
}
p {
    text-align: center;
    color: rgb(130, 99, 86);
    font-size: 25px;
    border-color: black;
    border-width: 5px;
}
nav {
    display: block;
    /* background: rgb(247, 192, 201); */
    margin: none;
    /* border-style: solid;
    border-color:rgb(130, 99, 86);
    border-width: 5px;
    margin: 0;
    padding: 0;*/
}

li {
    display: inline-block;
    font-size: 30px;
    margin: 15px;
}
 
a {
    color: rgb(130, 99, 86);
    text-decoration: none;
}

a:hover {
    color: rgb(252, 138, 157);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}
object {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 75%;
    zoom: 100%;
}
p.note{
    text-align: left;
    color: rgb(130, 99, 86);
    font-size: 15px;
    margin: 20px;
    border-color: black;
    border: 5px;
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
    padding: 30px;
}
img.hokona {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
}
p.discription {
    text-align: center;
    color: rgb(130, 99, 86);
    font-size: 20px;
}
video.worm {
    height: 600px; 
    width: 300px;
}
